<div class="s-examples__slider s-examples__slider--js">
    <div class="s-examples__slide">
        <div class="row">
            <div class="s-examples__col-left col-lg-4 order-lg-first order-last">
                <div class="s-examples__table">
                    <div class="s-examples__block s-examples__block--title ttu">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                </div>
            </div>
            <div class="s-examples__col-right col-lg-8">
                <div class="s-examples__slider-sm s-examples__slider-sm--js">
                    <div class="s-examples__slide-sm ">
                        <img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm ">
                        <img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm ">
                        <img src="/img/example-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="s-examples__slide">
        <div class="row">
            <div class="s-examples__col-left col-lg-4 order-lg-first order-last">
                <div class="s-examples__table">
                    <div class="s-examples__block s-examples__block--title ttu">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                </div>
            </div>
            <div class="s-examples__col-right col-lg-8">
                <div class="s-examples__slider-sm s-examples__slider-sm--js">
                    <div class="s-examples__slide-sm "><img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm "><img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm "><img src="/img/example-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="s-examples__slide">
        <div class="row">
            <div class="s-examples__col-left col-lg-4 order-lg-first order-last">
                <div class="s-examples__table">
                    <div class="s-examples__block s-examples__block--title ttu">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                    <div class="s-examples__block s-examples__block--left">Среднее потребление электричества:
                    </div>
                    <div class="s-examples__block s-examples__block--right">5 000 руб.
                    </div>
                </div>
            </div>
            <div class="s-examples__col-right col-lg-8">
                <div class="s-examples__slider-sm s-examples__slider-sm--js">
                    <div class="s-examples__slide-sm "><img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm"><img src="/img/example-img.jpg" alt="">
                    </div>
                    <div class="s-examples__slide-sm"><img src="/img/example-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>